@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* 

font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;

  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*

font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
  */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/* 

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  */

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/* 

font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;

  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
